*.pyc
bin/
*.png
*.avi
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
*.txt
!requirements*.txt
*.pb
/profile
/test.py
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c
darkflow.egg-info/
build/
summary/
built_graph/
ckpt/*
.cache/
.__pycache__/
.darkflow/__pycache__

